.speaker-info {
  & {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  > .thumb {
    height: 500px;
    width: auto;
    border-radius: 100%;
    margin: 2em 1em;
  }
}

.social-links {
  & {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
  }

  > .pair {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.alpha-overlay {
  & {
    background: rgba(255, 255, 255, 0.75);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
